/* animation madness */

.fadein {
  opacity: 0;
}

.fadein.run {
  animation: fadein 0.8s;
  animation-fill-mode: forwards;
}

.delay-1.run {
  animation-delay: 0.4s;
}

.delay-2.run {
  animation-delay: 0.8s;
}

.delay-3.run {
  animation-delay: 1.2s;
}

.delay-4.run {
  animation-delay: 1.6s;
}

@keyframes fadein {
  0% { opacity: 0; }
  100%   { opacity: 1; }
}
