
.fa {
  color: var(--clickable-color);
  font-size: 3em;
  transition: all 400ms ease;
  padding-left: 0.25em;
  padding-right: 0.25em;
  position: relative;
}

.first .fa {
  padding-left: 0;
}

.last .fa {
  padding-right: 0
}

.fa:hover {
  color: var(--clickable-hover-color);
  top: -2px;
}