@import "variables.css";

html {
  height: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: table;
}

#container {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

#content {
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
}

#box {
  background-color: rgba(256, 256, 243, 0.5);
  padding: 1em;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.05);
}

img {
  height: 15em;
  border-radius: 50px;
}

h1 .name {
  color: var(--pink);
  white-space: nowrap;
}

.pink {
  color: var(--pink);
}

p {
  letter-spacing: 0.5px;
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
}

a, a:active, a:visited {
  color: var(--green);
  transition: all 400ms ease;
}

a:hover {
  color: black;
}

@import "icons.css";
@import "media.css";
@import "fade.css";