html {
  height: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: table;
}

#container {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

#content {
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
}

#box {
  background-color: rgba(256, 256, 256, 0.8);
  padding: 1em;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.05);
}

img {
  height: 15em;
  border-radius: 50px;
}

h1 .name {
  color: #FF52A9;
  white-space: nowrap;
}

.attribution {
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}

.attribution a, .attribution a:hover {
  color: black;
}

@import "icons.css";
@import "media.css";
@import "fade.css";