@import "variables.css";

html {
  height: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: table;
  color: var(--text-color);
}

#container {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

#content {
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
}

img {
  height: var(--image-size);
  width: var(--image-size);
  border-radius: calc(var(--image-size) / 2);
  border: 1px solid black;
}

h1 .name {
  color: var(--highlight-color);
  white-space: nowrap;
}

.highlight {
  color: var(--highlight-color);
}

p {
  letter-spacing: 0.5px;
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
}

a, a:active, a:visited {
  color: var(--clickable-color);
  transition: all 400ms ease;
}

a:hover {
  color: var(--clickable-hover-color);
}

@import "icons.css";
@import "media.css";
@import "animation.css";