/* media query dependent css here: */

body {
  font-size: 13px;
}

#content {
  max-width: 300px;
}


@media (min-width: 480px) {
  body {
    font-size: 15px;
  }

  #content {
    max-width: 390px;
  }
}

@media (min-width: 780px) {
  body {
    font-size: 18px;
  }
  #content {
    max-width: 480px;
  }
}